<html>
<body>
<div >
    <div>
        <table style="display: inline;width: 100%;">
            <tbody>
            <tr>
                <td height="50px" width="2px"
                    style="padding: 0; padding-right: 5px; text-align:center;font-weight: normal;font-family: Arial, sans-serif">
                    <a href="${baseUrl}" style="text-decoration: none">
                        <h1><span style="color: #6A5687;">Fra</span><span style="color: #9BAE5F;">mindmap</span></h1>
                    </a>
                </td>
                <td valign="bottom" height="32px" style="padding: 0;font-size: 16px;">
                    ${messageTitle}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="font-size: 13px; background-color: #FFF; padding: 10px 0; min-height: 100px">
        <p>Bonjour ${firstName},</p>
        <p>
            ${messageBody}
        </p>

        <p>Cordialement,<br/>
           L&rsquo;&eacute;quipe Framasoft<br/>
        </p>
        <p>--<br />«&nbsp;La route est longue, mais la voie est libre...&nbsp;»<br/>
		Framasoft ne vit que par vos dons (d&eacute;ductibles des imp&ocirc;ts).<br />
		Merci d&rsquo;avance pour votre soutien <a href="https://soutenir.framasoft.org">https://soutenir.framasoft.org</a>.</p>

    </div>
</div>

<p style="font-size: 13px;font-family: Arial, sans-serif">Important&nbsp;: Ne r&eacute;pondez pas &agrave; ce mail. Si vous avez besoin d&rsquo;aide ou pensez avoir re&ccedil;u ce mail par erreur, <a href="https://contact.framasoft.org/#framindmap">contactez-nous</a>.
</p>
</body>
</html>